---

---

<article>
  <img
    src="https://images.pexels.com/photos/40185/mac-freelancer-macintosh-macbook-40185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
    class="rounded"
  />
  <h2>The Post Title</h2>
  <p>A post description</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi necessitatibus ducimus corporis ut distinctio obcaecati voluptatem optio reiciendis, nulla reprehenderit perspiciatis qui tempora fuga, magni possimus quae officiis quaerat. Incidunt.</p>
  <p>10/12/2023 - 16 min read</p>
</article>
